@model Model.Entity.LegisClientes

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LegisClientes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDProduto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDProduto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDSubProduto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDSubProduto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDLegisGeral)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDLegisGeral)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aplicavel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aplicavel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lei)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lei)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
